<a href="/posts/new" id="new-post-button">New Post...</a>
<ul class="post-list">
	<% @posts.each do|post| %>
	<a href="/posts/<%= post.id %>"><li><h3><%= post.title %></h3></li></a>
	<% end %>
</ul>
<%= @message %>
<%= @session_id %>