<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jake's Forum</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<div id="user-actions" class="right">
			<% if @user_name %>
			<h5><a href="/users/<%= @user_id %>">Logged in as <%= @user_name %></a></h5>
			<div class="log-out">
				<form method="POST" action="/users/login">
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" value="Log out">
				</form>
			</div>
			<% else %>
			<div id="log-reg" class="no-display">
				<h5 class="login">Log In</h5>
				<h5 class="register">Register</h5>
				<div class="login">
					<form method="POST" action="/users/login">
						<input type="text" name="email" placeholder="Email">
						<input type="password" name="password" placeholder="Password">
						<input type="submit" value="Log In">
					</form>
				</div>
				<div class="register no-display"
					<form method="POST" action="/users">
						<input type="text" name="fname" placeholder="First Name (required)" required>
						<input type="text" name="lname" placeholder="Last Name">
						<input type="text" name="email" placeholder="Email (required)" required>
						<input type="password" name="password" placeholder="Password (required)" required>
						<input type="submit" value="Register">
					</form>
				</div>
			</div>
			<h5 class="not-logged-in"><span>Not logged in</span></h5>
			<% end %>
		</div>
		<h1><a href="/">Jake's Forum</a></h1>
	</header>
	<div id="background-color"></div>
	<div class="container">

	<%= yield %>

	</div>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>