<div class="new-post">
	<form method="POST" action="/posts">
		<input type="text" name="title" placeholder="Title" required>
		<textarea name="body" placeholder="Write a post! Feel free to use Markdown syntax"></textarea>
		<input type="submit" value="Post it!">
	</form>
</div>