body {
	margin: 0;
	font-family: sans-serif;
	/*background: #353535;*/
}
#background-color {
	position: fixed;
	z-index: -999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#12474C,#294A35);
	background-repeat: no-repeat;
}
header {
	background: #b8c8c9;
	/*border-bottom: 3px solid #154849;*/
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
}
header h1, #user-actions {
	margin: 0 1em 0 1em;
}
header h1 {
	line-height: 3em;
}
#user-actions {
	position: relative;
	height: 6em;
	width: 30em;
}
div.register div {
	width: 12em;
}
#user-actions input[type="text"], #user-actions input[type="password"] {
	height: 2em;
	width: 15em;
	border: none;
	margin: 0.2em 0.2em;
	border: 1px solid #d0d0d0;
}
header h5 {
	display: inline-block;
	margin: 0.5em 0 0 0;
	padding: 0.4em;
}
header h5, .log-out input {
	cursor: pointer;	
}
header h5:hover, .log-out input:hover {
	text-decoration: underline;
}
.active {
	background: #ffffff;
}
.no-display {
	display: none;
}
div.register.active {
	width: 100%;
	height: 3.7em;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
.right {
	float: right;
}
.left {
	float: left;
}
.clear-right {
	clear: right;
}
.clear-left{
	clear: left;
}
.container {
	background: rgba(255,255,255,0.7);
	max-width: 940px;
	margin: 8em auto 0 auto;
	padding: 1em 1em;
}
.container div {
	margin: 1em 0 1.5em 0;
}
#new-post-button, .log-out input {
	padding: 0.6em;
	margin: 0.8em 0;
	font-size: 14px;
	background: #ffffff;
	border: none;
	border-radius: 0.2em;
}
#new-post-button:hover {
	background: #f0f0f0;
	cursor: pointer;
	text-decoration: underline;
}
ul.post-list {
	padding: 0;
	list-style: none;
}
.post-list li, .comments .comment {
	position: relative;
	padding: 0.2em 1em;
	margin: 1em 0;
	background: #ffffff;
	border-radius: 2px;
}
.post-list li:hover {
	background: #f0f0f0;
}
.post-list h3, h6 {
	display: inline-block;
}
.post-list h3:hover {
	text-decoration: inherit;
}
.post-list h5 {
	margin: -1em 0 0.5em 0;
}
.post .title h1, .post .title h5 {
	margin-top: 0.2em;
}
.post p {
	font-size: 16px;
}
.new-post input {
	display: block;
	font-size: 16px;
	margin: 0 auto;
	padding: 1em;
	background: #ffffff;
}
.new-post input[type="text"] {
	width: 95%;
}
.new-post input[type="submit"] {
	border-radius: 2px;
	border: none;
}
.new-post textarea {
	width: 95%;
	border: none;
	display: block;
	font-size: 16px;
	margin: 1em auto;
	padding: 1em;
	height: 23em;
}
.comments input, .comments button {
	display: inline-block;
	margin: 1em;
	font-size: 12px;
	padding: 1em;
}
.comments input[type="text"] {
	width: 80%;
}
.comments button {
	width: 10%;
	height: 100%;
	background: #ffffff;
	border: none;
	border-radius: 2px;
}
.comments ul {
	list-style: none;
	padding: 0;
}
.comments h6 {
	margin: 1em 0 0 0;
}