body {
	margin: 0;
	font-family: sans-serif;
	/*background: #353535;*/
}

#background-color {
	position: fixed;
	z-index: -999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#12474C,#294A35);
	background-repeat: no-repeat;
}
header {
	background: rgba(255,255,255,0.7);
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
}
header h1 {
	line-height: 3em;
	margin: 0 0 0 1em;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: line-through;
}
#login {
	display: inline-block;
}
.right {
	float: right;
}
.clear-right {
	clear: right;
}
.container {
	background: rgba(255,255,255,0.7);
	max-width: 940px;
	margin: 8em auto 0 auto;
	padding: 1em 1em;
}
.container div {
	margin: 1em 0 2em 0;
}
#new-post-button {
	padding: 0.6em;
	margin: 0.8em 0;
	font-size: 14px;
	background: #ffffff;
	border: none;
	border-radius: 0.2em;
}
#new-post-button:hover {
	background: #f0f0f0;
	cursor: pointer;
	text-decoration: underline;
}
ul.post-list {
	padding: 0;
	list-style: none;
}
.post-list li {
	position: relative;
	padding: 0.2em 1em;
	margin: 1em 0;
	background: #ffffff;
	border-radius: 2px;
}
.post-list li:hover {
	background: #f0f0f0;
}
.post-list h3, .post-list h6 {
	display: inline-block;
}
.post-list h3:hover {
	text-decoration: inherit;
}
.post-list h5 {
	margin: -1em 0 0.5em 0;
}
.post p {
	font-size: 16px;
}
.new-post input {
	display: block;
	font-size: 16px;
	margin: 0 auto;
	padding: 1em;
	background: #ffffff;
}
.new-post input[type="text"] {
	width: 95%;
}
.new-post input[type="submit"] {
	border-radius: 2px;
	border: none;
}
.new-post textarea {
	width: 95%;
	border: none;
	display: block;
	font-size: 16px;
	margin: 1em auto;
	padding: 1em;
	height: 25em;
}